In [3]:
#!pip install opendatasets

In [4]:
!pip install bigquery

Collecting bigquery
  Downloading bigquery-0.0.15.tar.gz (6.9 kB)
Requirement already satisfied: pyarrow>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from bigquery) (4.0.0)
Collecting dbstream>=0.0.19
  Downloading dbstream-0.1.2-py3-none-any.whl (7.1 kB)
Collecting sshtunnel==0.1.5
  Downloading sshtunnel-0.1.5-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: paramiko>=1.15.2 in c:\users\hp\anaconda3\lib\site-packages (from sshtunnel==0.1.5->dbstream>=0.0.19->bigquery) (2.7.2)
Collecting dacktool>=0.0.7
  Downloading dacktool-0.0.7.tar.gz (3.1 kB)
Collecting google-cloud-bigquery>=2.4.0
  Downloading google_cloud_bigquery-2.21.0-py2.py3-none-any.whl (193 kB)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\hp\anaconda3\lib\site-packages (from google-cloud-bigquery>=2.4.0->bigquery) (2.25.1)
Requirement already satisfied: packaging>=14.3 in c:\users\hp\anaconda3\lib\site-packages (from google-cloud-bigquery>=2.4.0->bigquery) (20.8)
Collecting google-api-core[grpc]<2.0.0dev,>=1.29.0
  Downloading google_api_core-1.31.0-py2.py3-none-any.whl (93 kB)
Requirement already satisfied: six>=1.13.0 in c:\users\hp\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.29.0->google-cloud-bigquery>=2.4.0->bigquery) (1.15.0)
Requirement already satisfied: pytz in c:\users\hp\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.29.0->google-cloud-bigquery>=2.4.0->bigquery) (2020.5)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\hp\anaconda3\lib\site-packages (from google-api-core[grpc]<2.0.0dev,>=1.29.0->google-cloud-bigquery>=2.4.0->bigquery) (51.0.0.post20201207)
Collecting google-auth<2.0dev,>=1.25.0
  Downloading google_auth-1.33.0-py2.py3-none-any.whl (151 kB)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.29.0->google-cloud-bigquery>=2.4.0->bigquery) (4.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.29.0->google-cloud-bigquery>=2.4.0->bigquery) (4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.29.0->google-cloud-bigquery>=2.4.0->bigquery) (0.2.8)
Collecting google-cloud-bigquery-storage>=2.1.0
  Downloading google_cloud_bigquery_storage-2.6.0-py2.py3-none-any.whl (125 kB)
Collecting google-cloud-core<2.0dev,>=1.4.1
  Downloading google_cloud_core-1.7.1-py2.py3-none-any.whl (28 kB)
Collecting google-resumable-media<2.0dev,>=0.6.0
  Downloading google_resumable_media-1.3.1-py2.py3-none-any.whl (75 kB)
Collecting google-crc32c<2.0dev,>=1.0
  Downloading google_crc32c-1.1.2-cp37-cp37m-win_amd64.whl (34 kB)
Requirement already satisfied: cffi>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from google-crc32c<2.0dev,>=1.0->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery>=2.4.0->bigquery) (1.14.4)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0->google-resumable-media<2.0dev,>=0.6.0->google-cloud-bigquery>=2.4.0->bigquery) (2.20)
Collecting googleapis-common-protos<2.0dev,>=1.6.0
  Downloading googleapis_common_protos-1.53.0-py2.py3-none-any.whl (198 kB)
Collecting googleauthentication>=0.0.12
  Downloading googleauthentication-0.0.15.tar.gz (2.7 kB)
Requirement already satisfied: cryptography>=2.7 in c:\users\hp\anaconda3\lib\site-packages (from googleauthentication>=0.0.12->bigquery) (3.3.1)
Collecting google-api-python-client==1.7.11
  Downloading google-api-python-client-1.7.11.tar.gz (142 kB)
Collecting google-auth-httplib2==0.0.3
  Downloading google_auth_httplib2-0.0.3-py2.py3-none-any.whl (6.3 kB)
Collecting google-auth-oauthlib>=0.4.0
  Downloading google_auth_oauthlib-0.4.4-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\hp\anaconda3\lib\site-packages (from google-auth-oauthlib>=0.4.0->googleauthentication>=0.0.12->bigquery) (1.2.0)
Collecting grpcio<2.0dev,>=1.38.1
  Downloading grpcio-1.38.1-cp37-cp37m-win_amd64.whl (3.1 MB)
Collecting httplib2<1dev,>=0.9.2
  Downloading httplib2-0.19.1-py3-none-any.whl (95 kB)
Requirement already satisfied: pyparsing<3,>=2.4.2 in c:\users\hp\anaconda3\lib\site-packages (from httplib2<1dev,>=0.9.2->google-api-python-client==1.7.11->googleauthentication>=0.0.12->bigquery) (2.4.7)
Collecting libcst>=0.2.5
  Downloading libcst-0.3.19-py3-none-any.whl (513 kB)
Requirement already satisfied: pyyaml>=5.2 in c:\users\hp\anaconda3\lib\site-packages (from libcst>=0.2.5->google-cloud-bigquery-storage>=2.1.0->bigquery) (5.3.1)
Requirement already satisfied: typing-extensions>=3.7.4.2 in c:\users\hp\anaconda3\lib\site-packages (from libcst>=0.2.5->google-cloud-bigquery-storage>=2.1.0->bigquery) (3.7.4.3)
Collecting pandas>=1.1.4
  Downloading pandas-1.3.0-cp37-cp37m-win_amd64.whl (10.0 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.1.4->bigquery) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.1.4->bigquery) (2.8.1)
Requirement already satisfied: pynacl>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from paramiko>=1.15.2->sshtunnel==0.1.5->dbstream>=0.0.19->bigquery) (1.4.0)
Requirement already satisfied: bcrypt>=3.1.3 in c:\users\hp\anaconda3\lib\site-packages (from paramiko>=1.15.2->sshtunnel==0.1.5->dbstream>=0.0.19->bigquery) (3.2.0)
Collecting proto-plus>=1.10.0
  Downloading proto_plus-1.19.0-py3-none-any.whl (42 kB)
Collecting protobuf>=3.12.0
  Downloading protobuf-3.17.3-cp37-cp37m-win_amd64.whl (909 kB)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\hp\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2.0dev,>=1.25.0->google-api-core[grpc]<2.0.0dev,>=1.29.0->google-cloud-bigquery>=2.4.0->bigquery) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery>=2.4.0->bigquery) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery>=2.4.0->bigquery) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery>=2.4.0->bigquery) (1.26.2)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery>=2.4.0->bigquery) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.0->googleauthentication>=0.0.12->bigquery) (3.0.2)
Collecting typing-inspect>=0.4.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\hp\anaconda3\lib\site-packages (from typing-inspect>=0.4.0->libcst>=0.2.5->google-cloud-bigquery-storage>=2.1.0->bigquery) (0.4.3)
Collecting uritemplate<4dev,>=3.0.0
  Downloading uritemplate-3.0.1-py2.py3-none-any.whl (15 kB)
Building wheels for collected packages: bigquery, dacktool, googleauthentication, google-api-python-client
  Building wheel for bigquery (setup.py): started
  Building wheel for bigquery (setup.py): finished with status 'done'
  Created wheel for bigquery: filename=bigquery-0.0.15-py3-none-any.whl size=9060 sha256=56d2f6bed4f5e6051b450be9fb99430d5a14109c3354856a65b737f2095e22cc
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\3a\f8\53\48b1d54464496edb7ccddb08462deac3fd64294390620a0093
  Building wheel for dacktool (setup.py): started
  Building wheel for dacktool (setup.py): finished with status 'done'
  Created wheel for dacktool: filename=dacktool-0.0.7-py3-none-any.whl size=4802 sha256=46e65cabb74b75dd9a8ba3f679aa591a11cacd7b76b531f31d58a97bc8772db0
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\3d\ae\a4\7d709f0ee99b5961c0e345dd6f9c5cc22bc9224f4f445f702f
  Building wheel for googleauthentication (setup.py): started
  Building wheel for googleauthentication (setup.py): finished with status 'done'
  Created wheel for googleauthentication: filename=googleauthentication-0.0.15-py3-none-any.whl size=3723 sha256=3d5f075ad5e40334201f194f2737b6ad6fb166cfad231330fd750f2cc0639741
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\b4\80\ec\a1fe8493064345ae3cec6ab52586062524cef07be020157950
  Building wheel for google-api-python-client (setup.py): started
  Building wheel for google-api-python-client (setup.py): finished with status 'done'
  Created wheel for google-api-python-client: filename=google_api_python_client-1.7.11-py3-none-any.whl size=56530 sha256=7d45f9542aa44088d46e94507964a2b7ce306efe9e88ca6d78211fabb59c62af
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\b6\04\f6\ae7211f4531abd8ac91e3fae5d19a4d8b52803362548ea9f66
Successfully built bigquery dacktool googleauthentication google-api-python-client
Installing collected packages: protobuf, httplib2, googleapis-common-protos, google-auth, uritemplate, typing-inspect, sshtunnel, grpcio, google-crc32c, google-auth-httplib2, google-api-core, dacktool, proto-plus, libcst, google-resumable-media, google-cloud-core, google-auth-oauthlib, google-api-python-client, dbstream, pandas, googleauthentication, google-cloud-bigquery-storage, google-cloud-bigquery, bigquery
  Attempting uninstall: google-auth
    Found existing installation: google-auth 1.4.2
    Uninstalling google-auth-1.4.2:
      Successfully uninstalled google-auth-1.4.2
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.3
    Uninstalling pandas-1.1.3:

      Successfully uninstalled pandas-1.1.3
Successfully installed bigquery-0.0.15 dacktool-0.0.7 dbstream-0.1.2 google-api-core-1.31.0 google-api-python-client-1.7.11 google-auth-1.33.0 google-auth-httplib2-0.0.3 google-auth-oauthlib-0.4.4 google-cloud-bigquery-2.21.0 google-cloud-bigquery-storage-2.6.0 google-cloud-core-1.7.1 google-crc32c-1.1.2 google-resumable-media-1.3.1 googleapis-common-protos-1.53.0 googleauthentication-0.0.15 grpcio-1.38.1 httplib2-0.19.1 libcst-0.3.19 pandas-1.3.0 proto-plus-1.19.0 protobuf-3.17.3 sshtunnel-0.1.5 typing-inspect-0.7.1 uritemplate-3.0.1

In [4]:
import pandas as pd
from google.cloud import bigquery

In [14]:
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [19]:
#api.dataset_download_files('sportradar/baseball')

In [20]:
# Create a "Client" object
#client = bigquery.Client()

In [22]:
import opendatasets as od

In [24]:
od.download("https://www.kaggle.com/josephvm/major-league-soccer-dataset?select=matches.csv")

Downloading major-league-soccer-dataset.zip to .\major-league-soccer-dataset

100%|█████████████████████████████████████████████████████████████████████████████| 6.01M/6.01M [00:00<00:00, 6.38MB/s]

In [166]:
df = pd.read_csv('C:\\Users\\hp\\Downloads\\hokey\\game.csv')

In [44]:
df2 = pd.read_csv('C:\\Users\\hp\\Downloads\\team_info.csv')

In [45]:
df3 = pd.read_csv('C:\\Users\\hp\\Downloads\\hockey_teams_stats\\game_teams_stats.csv')

In [167]:
df.head()

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT

In [40]:
df2.head()

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6

In [46]:
df3.head()

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide
0,2016020045,4,away,False,REG,Dave Hakstol,4.0,27.0,30.0,6.0,4.0,2.0,50.9,12.0,9.0,11.0,left
1,2016020045,16,home,True,REG,Joel Quenneville,7.0,28.0,20.0,8.0,3.0,2.0,49.1,16.0,8.0,9.0,left
2,2017020812,24,away,True,OT,Randy Carlyle,4.0,34.0,16.0,6.0,3.0,1.0,43.8,7.0,4.0,14.0,right
3,2017020812,7,home,False,OT,Phil Housley,3.0,33.0,17.0,8.0,2.0,1.0,56.2,5.0,6.0,14.0,right
4,2015020314,21,away,True,REG,Patrick Roy,4.0,29.0,17.0,9.0,3.0,1.0,45.7,13.0,5.0,20.0,left

In [41]:
df2.team_id.unique()

array([ 1,  4, 26, 14,  6,  3,  5, 17, 28, 18, 23, 16,  9,  8, 30, 15, 19,
       24, 27,  2, 10, 13,  7, 20, 21, 25, 29, 52, 22, 54, 12, 53, 11],
      dtype=int64)

In [38]:
df.away_team_id.unique()

array([ 4, 24, 21, 52, 20, 15, 10, 23, 29, 22,  2, 16,  5, 14,  6,  1,  9,
        8, 26, 13, 12, 28, 30,  3, 25, 17,  7, 53, 19, 18, 54, 27, 11, 88,
       90, 87], dtype=int64)

In [47]:
df3.team_id.unique()

array([ 4, 16, 24,  7, 21, 52, 12, 20, 15,  8, 10, 26, 23, 29, 22,  5, 25,
        2, 53,  1, 14, 30, 28,  6, 18,  9, 13,  3, 17, 19, 54, 27, 11, 88,
       87, 90, 89], dtype=int64)

In [168]:
merg = df.merge(df3, on = 'game_id', how = 'inner')

In [103]:
#check merged df team id and names:
merg[['away_team_id',
 'home_team_id',
  'team_id']]

       away_team_id  home_team_id  team_id
0                 4            16        4
1                 4            16       16
2                24             7       24
3                24             7        7
4                21            52       21
...             ...           ...      ...
62885            19             6        6
62886            19             6       19
62887            19             6        6
62888            19             6       19
62889            19             6        6

[62890 rows x 3 columns]

In [105]:
#game_id duplicates?
merg.game_id.duplicated().sum()#thats why there are none values when where is used to populate team names

39155

In [106]:
merg.head(10)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,...,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,...,27.0,30.0,6.0,4.0,2.0,50.9,12.0,9.0,11.0,left
1,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,...,28.0,20.0,8.0,3.0,2.0,49.1,16.0,8.0,9.0,left
2,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,...,34.0,16.0,6.0,3.0,1.0,43.8,7.0,4.0,14.0,right
3,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,...,33.0,17.0,8.0,2.0,1.0,56.2,5.0,6.0,14.0,right
4,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,...,29.0,17.0,9.0,3.0,1.0,45.7,13.0,5.0,20.0,left
5,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,...,21.0,22.0,11.0,2.0,0.0,54.3,13.0,7.0,9.0,left
6,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,...,21.0,21.0,10.0,4.0,0.0,31.4,4.0,14.0,16.0,left
7,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,...,29.0,16.0,8.0,5.0,2.0,68.6,12.0,11.0,13.0,left
8,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,...,23.0,20.0,19.0,3.0,0.0,54.7,10.0,4.0,7.0,right
9,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,...,41.0,15.0,13.0,6.0,1.0,45.3,13.0,4.0,21.0,right

In [52]:
list(merg.columns)

['game_id',
 'season',
 'type',
 'date_time_GMT',
 'away_team_id',
 'home_team_id',
 'away_goals',
 'home_goals',
 'outcome',
 'home_rink_side_start',
 'venue',
 'venue_link',
 'venue_time_zone_id',
 'venue_time_zone_offset',
 'venue_time_zone_tz',
 'team_id',
 'HoA',
 'won',
 'settled_in',
 'head_coach',
 'goals',
 'shots',
 'hits',
 'pim',
 'powerPlayOpportunities',
 'powerPlayGoals',
 'faceOffWinPercentage',
 'giveaways',
 'takeaways',
 'blocked',
 'startRinkSide']

In [169]:
#merge team name table:
df = merg.merge(df2, on = 'team_id', how = 'inner')

In [170]:
#test:
df.head()

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,...,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide,franchiseId,shortName,teamName,abbreviation,link
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,...,50.9,12.0,9.0,11.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
1,2016020246,20162017,R,2016-11-18T00:00:00Z,52,4,2,5,home win REG,right,...,55.6,11.0,10.0,20.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,2016020986,20162017,R,2017-03-10T00:30:00Z,4,10,2,4,home win REG,right,...,57.6,12.0,5.0,14.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
3,2015020906,20152016,R,2016-02-26T00:00:00Z,30,4,2,3,home win REG,right,...,43.6,11.0,5.0,17.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
4,2016020070,20162017,R,2016-10-22T23:00:00Z,12,4,3,6,home win REG,right,...,49.2,9.0,3.0,23.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4

In [173]:
list(df.columns)

['game_id',
 'season',
 'type',
 'date_time_GMT',
 'away_team_id',
 'home_team_id',
 'away_goals',
 'home_goals',
 'outcome',
 'home_rink_side_start',
 'venue',
 'venue_link',
 'venue_time_zone_id',
 'venue_time_zone_offset',
 'venue_time_zone_tz',
 'team_id',
 'HoA',
 'won',
 'settled_in',
 'head_coach',
 'goals',
 'shots',
 'hits',
 'pim',
 'powerPlayOpportunities',
 'powerPlayGoals',
 'faceOffWinPercentage',
 'giveaways',
 'takeaways',
 'blocked',
 'startRinkSide',
 'franchiseId',
 'shortName',
 'teamName',
 'abbreviation',
 'link']

In [172]:
df.game_id.duplicated().sum()

39120

In [ ]:
#-------------------------------NEXT STEP IS NOT NECESSARY, where works fine because there will be none values
#-------------------------------because each game id is duplicated for one record for one team id and another
#--------------------------------records for the opposing team id.

In [ ]:
#do two seperate merges to get the corresponding away_team id to team_id and the correct team names, then do another 
#merge for a seprate table for home_team id on team_id to getthe corresponding home_team names then do a final merge
#for the final taable to populate team names

In [80]:
#ATable = merg.merge(df2, how = 'left', left_on = ['away_team_id'], right_on = ['team_id'])

In [165]:
#ATable.head()

In [94]:
#the new table ATable now has the team id and away_team id match, thus the teamName column now contains names that
#corresond to way team names, therefore, change teamName to Away team name:

#ATable.rename(columns = {'teamName': 'AwayTeamName', 'team_id_x': 'team_id'}, inplace = True)

In [97]:
#now create a new table by merging on home_team id == team_id:
#BTable = merg.merge(df2, how = 'left', left_on = ['home_team_id'], right_on = ['team_id'])

In [164]:
#BTable[['away_team_id',
 #'home_team_id',
  #'team_id_x',
  #'teamName']]

In [101]:
#BTable.rename(columns = {'teamName': 'HomeTeamName', 'team_id_x': 'team_id'}, inplace = True)

In [111]:
#----------------------------------------------------------------------------------------------------------------#

In [91]:
#team ids corresponding to team names:
df.groupby('team_id')['teamName'].value_counts()

team_id  teamName
1        Devils            1993
2        Islanders         2101
3        Rangers           2076
4        Flyers            2069
5        Penguins          2102
6        Bruins            2200
7        Sabres            1971
8        Canadiens         2056
9        Senators          2015
10       Maple Leafs       2037
11       Thrashers          820
12       Hurricanes        2049
13       Panthers          1990
14       Lightning         2166
15       Capitals          2121
16       Blackhawks        2091
17       Red Wings         2019
18       Predators         2084
19       Blues             2170
20       Flames            2041
21       Avalanche         2089
22       Oilers            1998
23       Canucks           2072
24       Ducks             2045
25       Stars             2143
26       Kings             2048
27       Coyotes           1052
28       Sharks            2131
29       Blue Jackets      2065
30       Wild              2024
52       Jets              1212
53       Coyotes            972
54       Golden Knights     828
Name: teamName, dtype: int64

In [107]:
df.head(10)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,...,giveaways,takeaways,blocked,startRinkSide,franchiseId,shortName,teamName,abbreviation,link,AwayTeamName
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,...,12.0,9.0,11.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,Flyers
1,2016020246,20162017,R,2016-11-18T00:00:00Z,52,4,2,5,home win REG,right,...,11.0,10.0,20.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None
2,2016020986,20162017,R,2017-03-10T00:30:00Z,4,10,2,4,home win REG,right,...,12.0,5.0,14.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,Flyers
3,2015020906,20152016,R,2016-02-26T00:00:00Z,30,4,2,3,home win REG,right,...,11.0,5.0,17.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None
4,2016020070,20162017,R,2016-10-22T23:00:00Z,12,4,3,6,home win REG,right,...,9.0,3.0,23.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None
5,2016020099,20162017,R,2016-10-27T23:00:00Z,53,4,5,4,away win REG,right,...,13.0,4.0,16.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None
6,2017021257,20172018,R,2018-04-07T19:00:00Z,3,4,0,5,home win REG,right,...,9.0,4.0,18.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None
7,2015020007,20152016,R,2015-10-08T23:30:00Z,4,14,2,3,home win OT,left,...,8.0,6.0,6.0,right,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,Flyers
8,2016020759,20162017,R,2017-02-03T00:00:00Z,8,4,1,3,home win REG,right,...,12.0,6.0,14.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None
9,2017021218,20172018,R,2018-04-01T16:30:00Z,6,4,3,4,home win OT,right,...,15.0,5.0,16.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None

In [62]:
import numpy as np
df['AwayTeamName'] = np.where(df.away_team_id == df.team_id, df['teamName'], None)

In [66]:
df[['AwayTeamName', 'away_team_id', 'team_id', 'teamName']]

      AwayTeamName  away_team_id  team_id   teamName
0           Flyers             4        4     Flyers
1             None            52        4     Flyers
2           Flyers             4        4     Flyers
3             None            30        4     Flyers
4             None            12        4     Flyers
...            ...           ...      ...        ...
62845    Thrashers            11       11  Thrashers
62846    Thrashers            11       11  Thrashers
62847         None             2       11  Thrashers
62848    Thrashers            11       11  Thrashers
62849         None             3       11  Thrashers

[62850 rows x 4 columns]

In [121]:
#create new col homeTeamName:
df['HomeTeamName'] = np.where(df.home_team_id == df.team_id, df['teamName'], df['teamName'])

In [122]:
df[['away_team_id',
 'home_team_id',
  'team_id',
  'teamName',
   'AwayTeamName', 'HomeTeamName']]

,away_team_id,home_team_id,team_id,teamName,AwayTeamName,HomeTeamName
0,4,16,4,Flyers,Flyers,Flyers
1,52,4,4,Flyers,None,Flyers
2,4,10,4,Flyers,Flyers,Flyers
3,30,4,4,Flyers,None,Flyers
4,12,4,4,Flyers,None,Flyers
...,...,...,...,...,...,...
62845,11,9,11,Thrashers,Thrashers,Thrashers
62846,11,10,11,Thrashers,Thrashers,Thrashers
62847,2,11,11,Thrashers,None,Thrashers
62848,11,5,11,Thrashers,Thrashers,Thrashers
62849,3,11,11,Thrashers,None,Thrashers

In [112]:
df.head(10)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,...,takeaways,blocked,startRinkSide,franchiseId,shortName,teamName,abbreviation,link,AwayTeamName,HomeTeamName
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,...,9.0,11.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,Flyers,None
1,2016020246,20162017,R,2016-11-18T00:00:00Z,52,4,2,5,home win REG,right,...,10.0,20.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None,Flyers
2,2016020986,20162017,R,2017-03-10T00:30:00Z,4,10,2,4,home win REG,right,...,5.0,14.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,Flyers,None
3,2015020906,20152016,R,2016-02-26T00:00:00Z,30,4,2,3,home win REG,right,...,5.0,17.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None,Flyers
4,2016020070,20162017,R,2016-10-22T23:00:00Z,12,4,3,6,home win REG,right,...,3.0,23.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None,Flyers
5,2016020099,20162017,R,2016-10-27T23:00:00Z,53,4,5,4,away win REG,right,...,4.0,16.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None,Flyers
6,2017021257,20172018,R,2018-04-07T19:00:00Z,3,4,0,5,home win REG,right,...,4.0,18.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None,Flyers
7,2015020007,20152016,R,2015-10-08T23:30:00Z,4,14,2,3,home win OT,left,...,6.0,6.0,right,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,Flyers,None
8,2016020759,20162017,R,2017-02-03T00:00:00Z,8,4,1,3,home win REG,right,...,6.0,14.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None,Flyers
9,2017021218,20172018,R,2018-04-01T16:30:00Z,6,4,3,4,home win OT,right,...,5.0,16.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,None,Flyers

In [118]:
df.game_id.dtype

dtype('int64')

In [123]:
df.sort_values('game_id')[['game_id',
                                    'away_team_id',
                                    'home_team_id',
                                    'team_id',
                                    'teamName',
                                    'AwayTeamName', 
                                    'HomeTeamName']]

,game_id,away_team_id,home_team_id,team_id,teamName,AwayTeamName,HomeTeamName
33287,2000020001,21,25,25,Stars,None,Stars
9403,2000020001,21,25,21,Avalanche,Avalanche,Avalanche
46869,2000020002,9,6,6,Bruins,None,Bruins
51152,2000020002,9,6,9,Senators,Senators,Senators
3265,2000020003,16,7,16,Blackhawks,Blackhawks,Blackhawks
...,...,...,...,...,...,...,...
33828,2019030416,14,25,25,Stars,None,Stars
41093,2019030416,14,25,14,Lightning,Lightning,Lightning
41094,2019030416,14,25,14,Lightning,Lightning,Lightning
41096,2019030416,14,25,14,Lightning,Lightning,Lightning
33827,2019030416,14,25,25,Stars,None,Stars

In [120]:
df.to_csv('hockey_data.csv', index = False)

In [147]:
test = df.sort_values('game_id')[['game_id',
                                    'away_team_id',
                                    'home_team_id',
                                    'team_id',
                                    'teamName']]

In [148]:
#combine team name dups into one col:
com = test.groupby(['game_id', 'away_team_id','home_team_id'])['teamName'].apply(', '.join).reset_index()

In [149]:
#test:
com.head()

      game_id  away_team_id  home_team_id            teamName
0  2000020001            21            25    Stars, Avalanche
1  2000020002             9             6    Bruins, Senators
2  2000020003            16             7  Blackhawks, Sabres
3  2000020004            23             4     Canucks, Flyers
4  2000020005            17            20   Flames, Red Wings

In [150]:
# Split teamName into two seperate cols:
com['HomeTeamName'] = com['teamName'].str.split(',').str.get(0)
com['AwayTeamName'] = com['teamName'].str.split(',').str.get(1)

In [151]:
com.head()

,game_id,away_team_id,home_team_id,teamName,HomeTeamName,AwayTeamName
0,2000020001,21,25,"Stars, Avalanche",Stars,Avalanche
1,2000020002,9,6,"Bruins, Senators",Bruins,Senators
2,2000020003,16,7,"Blackhawks, Sabres",Blackhawks,Sabres
3,2000020004,23,4,"Canucks, Flyers",Canucks,Flyers
4,2000020005,17,20,"Flames, Red Wings",Flames,Red Wings

In [160]:
#rename and drop before merge or else there will be dup cols:
com.teamName.rename('teamNamesList', inplace = True)
com.drop(['away_team_id', 'home_team_id'], axis = 1, inplace = True)

In [163]:
#test:
com.head()

      game_id            teamName HomeTeamName AwayTeamName
0  2000020001    Stars, Avalanche        Stars    Avalanche
1  2000020002    Bruins, Senators       Bruins     Senators
2  2000020003  Blackhawks, Sabres   Blackhawks       Sabres
3  2000020004     Canucks, Flyers      Canucks       Flyers
4  2000020005   Flames, Red Wings       Flames    Red Wings

In [152]:
#df.drop(['AwayTeamName', 'HomeTeamName'], axis = 1, inplace = True)

In [174]:
#merge subset df with initial df:
df = df.merge(com, on = 'game_id', how = 'inner')

In [175]:
df.columns

Index(['game_id', 'season', 'type', 'date_time_GMT', 'away_team_id',
       'home_team_id', 'away_goals', 'home_goals', 'outcome',
       'home_rink_side_start', 'venue', 'venue_link', 'venue_time_zone_id',
       'venue_time_zone_offset', 'venue_time_zone_tz', 'team_id', 'HoA', 'won',
       'settled_in', 'head_coach', 'goals', 'shots', 'hits', 'pim',
       'powerPlayOpportunities', 'powerPlayGoals', 'faceOffWinPercentage',
       'giveaways', 'takeaways', 'blocked', 'startRinkSide', 'franchiseId',
       'shortName', 'teamName_x', 'abbreviation', 'link', 'teamName_y',
       'HomeTeamName', 'AwayTeamName'],
      dtype='object')

In [176]:
df.head(10)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,...,blocked,startRinkSide,franchiseId,shortName,teamName_x,abbreviation,link,teamName_y,HomeTeamName,AwayTeamName
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,...,11.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,"Blackhawks, Flyers",Blackhawks,Flyers
1,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,...,9.0,left,11,Chicago,Blackhawks,CHI,/api/v1/teams/16,"Blackhawks, Flyers",Blackhawks,Flyers
2,2016020246,20162017,R,2016-11-18T00:00:00Z,52,4,2,5,home win REG,right,...,20.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,"Jets, Flyers",Jets,Flyers
3,2016020246,20162017,R,2016-11-18T00:00:00Z,52,4,2,5,home win REG,right,...,21.0,left,35,Winnipeg,Jets,WPG,/api/v1/teams/52,"Jets, Flyers",Jets,Flyers
4,2016020986,20162017,R,2017-03-10T00:30:00Z,4,10,2,4,home win REG,right,...,14.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,"Maple Leafs, Flyers",Maple Leafs,Flyers
5,2016020986,20162017,R,2017-03-10T00:30:00Z,4,10,2,4,home win REG,right,...,18.0,left,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10,"Maple Leafs, Flyers",Maple Leafs,Flyers
6,2015020906,20152016,R,2016-02-26T00:00:00Z,30,4,2,3,home win REG,right,...,17.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,"Flyers, Wild",Flyers,Wild
7,2015020906,20152016,R,2016-02-26T00:00:00Z,30,4,2,3,home win REG,right,...,16.0,left,37,Minnesota,Wild,MIN,/api/v1/teams/30,"Flyers, Wild",Flyers,Wild
8,2016020070,20162017,R,2016-10-22T23:00:00Z,12,4,3,6,home win REG,right,...,23.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,"Hurricanes, Flyers",Hurricanes,Flyers
9,2016020070,20162017,R,2016-10-22T23:00:00Z,12,4,3,6,home win REG,right,...,10.0,left,26,Carolina,Hurricanes,CAR,/api/v1/teams/12,"Hurricanes, Flyers",Hurricanes,Flyers

In [178]:
df.to_csv('C:\\Users\\hp\\Downloads\\TEST projects\\hockey_data_prepared.csv', index = False)

In [179]:
#downloading data from github:
url = 'https://raw.githubusercontent.com/Khrystyne-T/Test_Projects/main/TEST%20projects/hockey_data_prepared.csv'
df = pd.read_csv(url)

In [180]:
#check data:
df.head()

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,...,blocked,startRinkSide,franchiseId,shortName,teamName_x,abbreviation,link,teamName_y,HomeTeamName,AwayTeamName
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,...,11.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,"Blackhawks, Flyers",Blackhawks,Flyers
1,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,...,9.0,left,11,Chicago,Blackhawks,CHI,/api/v1/teams/16,"Blackhawks, Flyers",Blackhawks,Flyers
2,2016020246,20162017,R,2016-11-18T00:00:00Z,52,4,2,5,home win REG,right,...,20.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,"Jets, Flyers",Jets,Flyers
3,2016020246,20162017,R,2016-11-18T00:00:00Z,52,4,2,5,home win REG,right,...,21.0,left,35,Winnipeg,Jets,WPG,/api/v1/teams/52,"Jets, Flyers",Jets,Flyers
4,2016020986,20162017,R,2017-03-10T00:30:00Z,4,10,2,4,home win REG,right,...,14.0,left,16,Philadelphia,Flyers,PHI,/api/v1/teams/4,"Maple Leafs, Flyers",Maple Leafs,Flyers